@charset "UTF-8";

* {
    -webkit-transition: all 0.8s;
    -moz-transition:    all 0.8s ;
    -o-transition:      all 0.8s ;
    transition:         all 0.8s ;
}

body {
    background-image: url('../0/02.jpg');
    background-size: cover;
}

footer { margin: 0 0 10px 0; }

#fBar { padding: 2rem; }

#intf {
    background-color: white;
    height: 25%;
}

.toCircle {
    height: 20rem;
    width:  20rem;
    border-radius: 50%;
}

.toCircle2 {
    height: 15rem;
    width:  15rem;
    border-radius: 50%;
}

.logoEvento {
    height: 5rem;
    width:  5rem;
}

.thead {
border-top:      3px solid rgba(0,0,0,0);
border-right:    3px solid rgba(0,0,0,0);
border-bottom:   3px solid #009688;
border-left:     3px solid rgba(0,0,0,0);
}

.imgBio {
    height: 15rem;
    width:  15rem;
}

.cap-img h1 {
    z-index: 100;
    left: calc(50% - 100px);
    width: 200px;
    top: 7rem;
    position: absolute;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.cap-img div {
    height: 200px;
    background-image: url("../0/24845.jpg");
    background-position: center;

}

.bdR0 { border-radius: 0; }

.toB { font-weight: bold; }

.plC9 { color: #000; }
.plC0 { color: #fff; }
.plC0 a { color: #fff !important; }

.pl_9 { background-color: rgba(255,255,255,.2); }
.pl_8 { background-color: rgba(255,255,255,.4); }
.pl_7 { background-color: rgba(255,255,255,.6); }
.pl_6 { background-color: rgba(255,255,255,.8); }
.pl_55 { background-color: rgba(255,255,255,.9); }
.pl_5 { background-color: rgba(000,000,000, 1); }
.pl_4 { background-color: rgba(000,000,000,.8); }
.pl_3 { background-color: rgba(000,000,000,.6); }
.pl_2 { background-color: rgba(000,000,000,.4); }
.pl_1 { background-color: rgba(000,000,000,.2); }
.pl_0 { background-color: rgba(000,000,000, 0); }

.plT9 { background-color: #004D40; } .plBG9 { background-color: #263238; } .plB9 { background-color: #0D47A1; } .plAB9 { background-color: #1733FF; }
.plT8 { background-color: #00695C; } .plBG8 { background-color: #37474F; } .plB8 { background-color: #1565C0; } .plAB8 { background-color: #2551FF; }
.plT7 { background-color: #00796B; } .plBG7 { background-color: #455A64; } .plB7 { background-color: #1976D2; } .plAB7 { background-color: #2962FF; }
.plT6 { background-color: #00897B; } .plBG6 { background-color: #546E7A; } .plB6 { background-color: #1E88E5; } .plAB6 { background-color: #2969FF; }
.plT5 { background-color: #009688; } .plBG5 { background-color: #607D8B; } .plB5 { background-color: #2196F3; } .plAB5 { background-color: #2970FF; }
.plT4 { background-color: #26A69A; } .plBG4 { background-color: #78909C; } .plB4 { background-color: #42A5F5; } .plAB4 { background-color: #2979FF; }
.plT3 { background-color: #4DB6AC; } .plBG3 { background-color: #90A4AE; } .plB3 { background-color: #64B5F6; } .plAB3 { background-color: #3781FF; }
.plT2 { background-color: #80CBC4; } .plBG2 { background-color: #B0BEC5; } .plB2 { background-color: #90CAF9; } .plAB2 { background-color: #448AFF; }
.plT1 { background-color: #B2DFDB; } .plBG1 { background-color: #CFD8DC; } .plB1 { background-color: #BBDEFB; } .plAB1 { background-color: #82B1FF; }
.plT0 { background-color: #E0F2F1; } .plBG0 { background-color: #ECEFF1; } .plB0 { background-color: #E3F2FD; } .plAB1 { background-color: #AAC8FF; }

.bd0 { border:          none !important; }
.bd1 { border-top:      1px solid #fff; }
.bd13 { border-top:      1px solid #fff; border-bottom:   1px solid #fff; }
.bd2 { border-right:    1px solid #fff; }
.bd3 { border-bottom:   1px solid #fff; }
.bdG3 { border-bottom:   3px solid #fff; }
.bd4 { border-left:     1px solid #fff; }
.bd5 { border:     1px solid #fff; }

.bdCT9 { border-color: #004D40; } .bdCBG9 { border-color: #263238; } .bdCB9 { border-color: #0D47A1; } .bdCAB9 { border-color: #1733FF; }
.bdCT8 { border-color: #00695C; } .bdCBG8 { border-color: #37474F; } .bdCB8 { border-color: #1565C0; } .bdCAB8 { border-color: #2551FF; }
.bdCT7 { border-color: #00796B; } .bdCBG7 { border-color: #455A64; } .bdCB7 { border-color: #1976D2; } .bdCAB7 { border-color: #2962FF; }
.bdCT6 { border-color: #00897B; } .bdCBG6 { border-color: #546E7A; } .bdCB6 { border-color: #1E88E5; } .bdCAB6 { border-color: #2969FF; }
.bdCT5 { border-color: #009688; } .bdCBG5 { border-color: #607D8B; } .bdCB5 { border-color: #2196F3; } .bdCAB5 { border-color: #2970FF; }
.bdCT4 { border-color: #26A69A; } .bdCBG4 { border-color: #78909C; } .bdCB4 { border-color: #42A5F5; } .bdCAB4 { border-color: #2979FF; }
.bdCT3 { border-color: #4DB6AC; } .bdCBG3 { border-color: #90A4AE; } .bdCB3 { border-color: #64B5F6; } .bdCAB3 { border-color: #3781FF; }
.bdCT2 { border-color: #80CBC4; } .bdCBG2 { border-color: #B0BEC5; } .bdCB2 { border-color: #90CAF9; } .bdCAB2 { border-color: #448AFF; }
.bdCT1 { border-color: #B2DFDB; } .bdCBG1 { border-color: #CFD8DC; } .bdCB1 { border-color: #BBDEFB; } .bdCAB1 { border-color: #82B1FF; }
.bdCT0 { border-color: #E0F2F1; } .bdCBG0 { border-color: #ECEFF1; } .bdCB0 { border-color: #E3F2FD; } .bdCAB1 { border-color: #AAC8FF; }

.plIfR { background-color: #FF1907; } .plIfG { background-color: #3EB123; }